* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #151515;
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #fff;
    padding: 20px;

    display: grid;
    gap: 10px;

    grid-template-columns: 1fr .75fr 0.25fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .3fr .7fr 1fr;

    grid-template-areas:
        "progress views views users team"
        "progress dashboard dashboard dashboard team"
        "girls dashboard dashboard dashboard team"
        "girls dashboard dashboard dashboard logo"
        "girls fonts explore explore logo";
}

.section {
    min-width: 0;
    min-height: 0;
    padding: 20px;
    border-radius: 20px;
}

.section1 {
    grid-area: progress;
    background-color: #FCE5E6;
    color: #151515;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.section1 .top-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.section1 .top-content h4 {
    font-weight: 550;
    font-size: 12px;
}

.section1 .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #151515;
}


.section1 .center-content .progress {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background:
        conic-gradient(#f44f75 0% 75%,
            #f7cfd6 75% 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.section1 .center-content .progress::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: #f9e9ea;
    border-radius: 50%;
}

.section1 .center-content .progress .start {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #f44f75;
    border-radius: 50%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.section1 .center-content .progress .end {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #f44f75;
    border-radius: 50%;
    top: calc(50% - 20px -2px);
    left: 0%;
    transform: translate(0%);
    z-index: 2;
}

.section1 .center-content .content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 .center-content .content h2 {
    font-size: 30px;
}

.section1 .center-content .content h4 {
    font-weight: 500;
    font-size: 12px;
    padding-block: 5px;
}

.section1 .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

.section1 .bottom-content .report-btn {
    background-color: #FCF5F4;
    color: #7c7575;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
}

.section1 .report-btn i {
    color: #6e6d6d;
    padding-left: 10px;
    font-weight: 600;
}

.section1 .bottom-content h2 {
    font-size: 30px;
}

.section1 .bottom-content h4 {
    font-weight: 500;
    font-size: 14px;
    padding-block: 5px;
}

.section2 {
    grid-area: views;
    background-color: #FCF8F9;
    color: #151515;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 10px;
}

.section2 .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.section2 .left-content h2 {
    font-size: 50px;
}

.section2 .left-content h4 {
    font-weight: 550;
    font-size: 14px;
}


.section2 .left-content .bottom-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section2 .left-content .bottom-content .content {
    background: transparent;
    border: 2px solid #FCE2E4;
    padding: 5px 10px;
    border-radius: 25px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section2 .left-content .bottom-content h5 {
    font-weight: 200;
}

.section2 .left-content .bottom-content .content {
    color: #FB5571;
}

.section2 .bottom-content .content img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.section2 .right-content {
    width: 20%;
}

.section2 .right-content .heart {
    height: 60px;
    width: 60px;
    background: #FCE2E4;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.section3 {
    grid-area: users;
    background-color: #FCF8F9;
    color: #151515;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 10px;
}

.section3 .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.section3 .left-content h2 {
    font-size: 50px;
}

.section3 .left-content h4 {
    font-weight: 550;
    font-size: 14px;
}


.section3 .left-content h5 {
    font-weight: 200;
}

.section3 .left-content h3,
.section3 .left-content i {
    color: #3B9D57;
}

.section3 .right-content {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section3 .right-content i {
    font-size: 18px;
    background: #FCE2E4;
    border: none;
    border-radius: 12px;
    padding: 10px;
}


.section4 {
    grid-area: team;
    background-color: #FCF8F9;
    color: #151515;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 10px;
}

.section4 .bottom-content,
.section4 .top-content {
    height: 48%;
}

.section4 .top-content .members {
    display: flex;

}

.section4 .top-content img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: -10px;
    position: relative;
}

.section4 .top-content h3 {
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: -10px;
    background-color: #151515;
    color: #FCF8F9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    position: relative;
}

.section4 .top-content img:nth-child(1) {
    z-index: 5;
}

.section4 .top-content img:nth-child(2) {
    z-index: 4;
}

.section4 .top-content img:nth-child(3) {
    z-index: 3;
}

.section4 .top-content img:nth-child(4) {
    z-index: 2;
}

.section4 .top-content h3 {
    z-index: 1;
}

.section4 hr {
    background-color: #151515;
    opacity: 0.2;
    margin-block: 30px;
}

.section4 .top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.section4 .top-content h4 {
    font-weight: 550;
    font-size: 14px;
    line-height: 22px;
}

.section4 .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    gap: 10px;
}

.section4 .bottom-content .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.section4 .bottom-content .left-content h2 {
    font-size: 50px;
}

.section4 .bottom-content .left-content h4 {
    font-weight: 550;
    font-size: 14px;
}


.section4 .bottom-content .left-content h5 {
    font-weight: 200;
}

.section4 .bottom-content .left-content h3,
.section4 .bottom-content .left-content i {
    color: #FB5571;
}

.section4 .bottom-content .right-content {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section4 .bottom-content .right-content i {
    font-size: 18px;
    background: #FCE2E4;
    border: none;
    border-radius: 12px;
    padding: 10px;
}


.section5 {
    grid-area: dashboard;
    background-color: #FCE5E6;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;

    color: #151515;
}

.section5 .circle {
    width: auto;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(#FCF5F4, #FEC9D0, #FEC9D0);
}

.section5 .hero-girl {
    position: absolute;
    bottom: 0;
    height: 110%;
}

.section5 .graph {
    background: #FCF8F9;
    border: none;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;

    width: 200px;
    aspect-ratio: 16/9;

    position: absolute;
}

.section5 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.section5 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.section5 .project-growth {
    top: 30%;
    left: 50px;
    transform: translateY(-30%);

}

.section5 .conversion-age {
    top: 5%;
    right: 5%;
}

.section5 .content h4 {
    font-weight: 550;
    font-size: 14px;
}

.section5 .total-plays {
    background-color: #FCF8F9;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    position: absolute;
    bottom: 50px;
    left: 15%;
}

.section5 .total-plays i {
    background: #f44f75;
    border: none;
    border-radius: 50%;
    padding: 5px;
    color: #FCF8F9;
}

.section5 .total-plays .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section5 .total-plays .content h4 {
    font-weight: 550;
    font-size: 14px;
}

.section5 .total-plays .content h5 {
    font-size: 14px;
    font-weight: 500;
    color: #151515;
}

.section5 .engagement-rate {
    position: absolute;
    right: 3%;
    bottom: 0;
}

.section5 .engagement-rate .content .heart {
    height: 30px;
    width: 30px;
    background: #FCE2E4;
    border: none;
    border-radius: 50%;
    padding: 5px;
}

.section5 .engagement-rate .bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    gap: 5px;
}

.section5 .engagement-rate .bottom-content h2 {
    font-size: 20px;
}

.section5 .engagement-rate .bottom-content h5 {
    font-weight: 200;
    font-size: 12px;
}

.section5 .engagement-rate .bottom-content h3,
.section5 .engagement-rate .bottom-content i {
    color: #3B9D57;
    font-size: 12px;
}

.section5 .donut {
    color: #f44f75;
    font-weight: bolder;
    font-size: 14px;
    position: absolute;
    right: 15%;
    bottom: 40%;

}

.section6 {
    grid-area: girls;
    background-color: #1E1E1E;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.section6 .top-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.section6 .top-content h3 {
    color: #FCF8F9;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.section6 .top-content h3 span {
    color: #FCE2E4;
}

.section6 .top-content i {
    background: #363538;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

.section6 .center-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: space-between;
    gap: 10px;
}

.section6 .center-content img {
    border-radius: 16px;
    /* height:180px; */
    aspect-ratio: 4/3;
    width: 50%;
}

.section6 .bottom-content {
    display: flex;
}

.section6 .bottom-content img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: top;
    border: none;
    border-radius: 50%;
    margin-left: -5px;
}

.section6 .bottom-content h3 {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: #FB5571;
    color: #FCF8F9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.section7 {
    grid-area: fonts;
    background-color: #FCF8F9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    color: #151515;
}

.section7 .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section7 .top .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section7 .top .font-visual {
    background-color: #FCE2E4;
    padding: 5px;
    border-radius: 10px;
    color: #151515;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.section7 .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.section7 .center .color-pallette:nth-child(1) {
    background-color: #252525;
    padding: 20px;
    border-radius: 5px;
}

.section7 .center .color-pallette:nth-child(2) {
    background-color: #B2B2B2;
    padding: 20px;
    border-radius: 5px;
}

.section7 .center .color-pallette:nth-child(3) {
    background-color: #FE778E;
    padding: 20px;
    border-radius: 5px;
}

.section7 .center .color-pallette:nth-child(4) {
    background-color: #FFD5DA;
    padding: 20px;
    border-radius: 5px;
}


.section7 .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section8 {
    grid-area: explore;
    background-color: #FCF8F9;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.section8 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.section8 img {
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
}

.section8 h3 {
    font-size: 20px;
    color: #151515;
}

.section8 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #151515;
}

.section8 .explore-btn {
    background-color: #151515;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
}

.section8 .explore-btn i {
    color: #fff;
}

.section8 .circle {
    width: auto;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: #FCE5E6;
    bottom: -40%;
    right: 0%;
    z-index: 1;
    transform: translateX(40%);
}

.section9 {
    grid-area: logo;
    background-color: #FCF8F9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.section9 img {
    height: 25%;
    width: 25%;
    object-fit: contain;
}

.section9 h1 {
    font-size: 40px;
    color: #151515;
    text-transform: uppercase;
}

.section9 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #151515;
    padding-bottom: 20px;
}

.section9 .discover-btn {
    background-color: #FEC9D0;
    color: #151515;
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
}

.section9 .discover-btn i {
    color: #151515;
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width:640px) {
    main {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 0.5fr 0.3fr 0.7fr 0.5fr 0.5fr;
        grid-template-areas:
            "logo logo"
            "dashboard dashboard"
            "views users"
            "progress team"
            "girls fonts"
            "explore explore"
        ;
    }
}