* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #151515;
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #fff;

    display: grid;
    gap: 10px;

    grid-template-columns: 1fr .75fr 0.25fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .3fr .7fr 1fr;

    grid-template-areas:
        "progress views views users team"
        "progress dashboard dashboard dashboard team"
        "girls dashboard dashboard dashboard team"
        "girls dashboard dashboard dashboard logo"
        "girls fonts explore explore logo";
}

.section {
    min-width: 0;
    min-height: 0;
    padding: 20px;
    border-radius: 20px;
}

.section1 {
    grid-area: progress;
    background-color: #FCE5E6;
}

.section2 {
    grid-area: views;
    background-color: #FCF8F9;
    color: #151515;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 10px;
}

.section2 .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.section2 .left-content h2 {
    font-size: 50px;
}

.section2 .left-content h4 {
    font-weight: 550;
    font-size: 14px;
}


.section2 .left-content .bottom-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section2 .left-content .bottom-content .content {
    background: transparent;
    border: 2px solid #FCE2E4;
    padding: 5px 10px;
    border-radius: 25px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section2 .left-content .bottom-content h5 {
    font-weight: 200;
}

.section2 .left-content .bottom-content .content {
    color: #FB5571;
}

.section2 .bottom-content .content img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.section2 .right-content {
    width: 20%;
}

.section2 .right-content .heart {
    height: 60px;
    width: 60px;
    background: #FCE2E4;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.section3 {
    grid-area: users;
    background-color: #FCF8F9;
    color: #151515;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 10px;
}

.section3 .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.section3 .left-content h2 {
    font-size: 50px;
}

.section3 .left-content h4 {
    font-weight: 550;
    font-size: 14px;
}


.section3 .left-content h5 {
    font-weight: 200;
}

.section3 .left-content h3,
.section3 .left-content i {
    color: #3B9D57;
}

.section3 .right-content {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section3 .right-content i {
    font-size: 18px;
    background: #FCE2E4;
    border: none;
    border-radius: 12px;
    padding: 10px;
}


.section4 {
    grid-area: team;
    background-color: #FCF8F9;
    color: #151515;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 10px;
}

.section4 .bottom-content,
.section4 .top-content {
    height: 48%;
}

.section4 .top-content .members {
    display: flex;

}

.section4 .top-content img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: -10px;
    position: relative;
}

.section4 .top-content h3 {
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: -10px;
    background-color: #151515;
    color: #FCF8F9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    position: relative;
}

.section4 .top-content img:nth-child(1) {
    z-index: 5;
}

.section4 .top-content img:nth-child(2) {
    z-index: 4;
}

.section4 .top-content img:nth-child(3) {
    z-index: 3;
}

.section4 .top-content img:nth-child(4) {
    z-index: 2;
}

.section4 .top-content h3 {
    z-index: 1;
}

.section4 hr {
    background-color: #151515;
    opacity: 0.2;
    margin-block: 30px;
}

.section4 .top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.section4 .top-content h4 {
    font-weight: 550;
    font-size: 14px;
    line-height: 22px;
}

.section4 .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    gap: 10px;
}

.section4 .bottom-content .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.section4 .bottom-content .left-content h2 {
    font-size: 50px;
}

.section4 .bottom-content .left-content h4 {
    font-weight: 550;
    font-size: 14px;
}


.section4 .bottom-content .left-content h5 {
    font-weight: 200;
}

.section4 .bottom-content .left-content h3,
.section4 .bottom-content .left-content i {
    color: #FB5571;
}

.section4 .bottom-content .right-content {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section4 .bottom-content .right-content i {
    font-size: 18px;
    background: #FCE2E4;
    border: none;
    border-radius: 12px;
    padding: 10px;
}


.section5 {
    grid-area: dashboard;
    background-color: #FCE5E6;
}

.section6 {
    grid-area: girls;
    background-color: #1E1E1E;
}

.section7 {
    grid-area: fonts;
    background-color: #FCF8F9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    color: #151515;
}

.section7 .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section7 .top .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section7 .top .font-visual {
    background-color: #FCE2E4;
    padding: 5px;
    border-radius: 10px;
    color: #151515;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.section7 .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.section7 .center .color-pallette:nth-child(1) {
    background-color: #252525;
    padding: 20px;
    border-radius: 5px;
}

.section7 .center .color-pallette:nth-child(2) {
    background-color: #B2B2B2;
    padding: 20px;
    border-radius: 5px;
}

.section7 .center .color-pallette:nth-child(3) {
    background-color: #FE778E;
    padding: 20px;
    border-radius: 5px;
}

.section7 .center .color-pallette:nth-child(4) {
    background-color: #FFD5DA;
    padding: 20px;
    border-radius: 5px;
}


.section7 .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section8 {
    grid-area: explore;
    background-color: #FCF8F9;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section8 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.section8 img {
    height: 100%;
    object-fit: contain;
}

.section8 h3 {
    font-size: 20px;
    color: #151515;
}

.section8 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #151515;
}

.section8 .explore-btn {
    background-color: #151515;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
}

.section8 .explore-btn i {
    color: #fff;
}

.section9 {
    grid-area: logo;
    background-color: #FCF8F9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.section9 img {
    height: 25%;
    width: 25%;
    object-fit: contain;
}

.section9 h1 {
    font-size: 40px;
    color: #151515;
    text-transform: uppercase;
}

.section9 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #151515;
    padding-bottom: 20px;
}

.section9 .discover-btn {
    background-color: #FEC9D0;
    color: #151515;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
}

.section9 .discover-btn i {
    color: #151515;
}